<html>
<head>
<title> Make it your own</title>
</head>

<body>
  <form action="/edit" method="GET">
    <input type="hidden" name="chosen_ID" value={{chosen_ID}}>
     {% set msgs=get_flashed_messages()%}
     {% for msg in msgs %}
     {{msg}}

     Title: {{title}}
     <br>
     Most recent version:
     {{last_update}}
     <br>
     Your part of the story starts here:
     <br>
     <textarea rows="10" name="update" cols="40">
     </textarea>
     <br>
     <input type="submit" name="woo" value="I'm done">

  </form>
</body>
</html>
