<html>
<head>
<title> New Account</title>
</head>

<body>
<form action="greet" method="POST">
            {% set msgs = get_flashed_messages() %}
            {% for msg in msgs %}
                {{msg}}
            </font>
            {% endfor %}
            <br>
            Username: <input type="text" name="username">
            <br>
            Password: <input type="password" name="password1">
            <br>
	    Confirm Password: <input type="password" name="password2">
            <input type="submit" name="Signup" value="Sign Up">
</form>
</body>
</html>
